
/* Base styles */
html, body {
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    padding: 15px 0;
  }
  
/* Theme color change */

/* Reusable classes */

/* Header */

/* Header JavaScript Styles */

/* Search */

/* Form JavaScript styles */

/* Featured articles */

/* Featured articles - Sidebar */

/* Quick read */

/* Quick read - Swiper */

/* Older posts */

/* Popular tags */

/* Newsletter */

/* Footer */

/* Scrollbar styles */

/* Blog post */

/* Media queries */