
.exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    margin: 10px;
    }
    
    .exerciseHeaderLogo {
        width: 200px;
        height: 80px;
    }
    
    
    .exerciseHeaderNav {
    
    }
    
    .exerciseHeaderNav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 10px;
    list-style: none;
    }


/* Main */

.exerciseMain {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    grid-template-rows: 1fr 2fr 1fr;
}

.exerciseMainLeftNav {

}

.exerciseMainContent {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 10px;
}

.exerciseMainContent > * {
    margin: 0;
}

.exerciseMainContentBanner {
grid-column: span 4;
}

.exerciseMainContentSubBanner {
grid-column: span 3;
}

.exerciseMainContentBlock {

}